<div class="footer">
    <div class="footer__social">
        <img src="../images/facebook.png" class="footer__socialicon">
        <img src="../images/youtube.png" class="footer__socialicon">
        <img src="../images/twitter.png" class="footer__socialicon">
        <img src="../images/instagram.png" class="footer__socialicon">
    </div>
    <p class="footer__text">DUOI&copy;2018</p>
    <div class="footer__menu">
        <p class="footer__menu">Home</p>
        <p class="footer__menu">Regulamin</p>
        <p class="footer__menu">Polityka prywatności</p>
    </div>
</div>

